<h2> Financeiro <small> - Easy Routes</small> </h2> <br />
<div class="box">
  <div class="box-body">
    <div class="table-responsive">
      <table class="table table-bordered ">
          <tbody>
            <tr>
              <th style="width: 80px">Fatura #</th>
              <th>Vencimento</th>
              <th style="width: 60px">Status</th>
              <th>Valor</th>
              <th style="width: 50px"></th>
            </tr>
            <% @invoices.each do |invoice| %>
            <tr>
              <td><%= invoice.id %></td>
              <td><%= invoice.due_date.strftime("%d/%m/%Y") %></td>
              <% if invoice.pending? %>
                <td>
                  <span class="label label-danger">Pendente</span>
                </td>
              <% elsif invoice.paid? %>
                <td>
                  <span class="label label-success">Paga</span>
                </td>
              <% end %>
              <td><%= invoice.value %></td>
              <td>
                <%= form_tag checkout_payments_path do %>
                    <%= hidden_field_tag :invoice_id, invoice.id %>
                    <%= button_tag type: "submit", class: "btn btn-success", data: {confirm: "Você tem certeza que deseja pagar esta conta?" } do %>
                      <b>Pagar</b> <i class="fa fa-dollar"></i>
                    <% end%>
                <% end %>
              </td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>
