<!-- Main Header -->
<header class="main-header">

  <!-- Logo -->
  <a href="/" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>E/</b>R</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Easy</b> Routes</span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        <li class="dropdown notifications-menu">
          <!-- Menu toggle button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-envelope-o"></i>
            <% if @statements.count > 0 %>
              <span class="label label-danger"><%= @statements.count %></span>
            <% end %>
          </a>
          <ul class="dropdown-menu">
            <li class="header"><%= if @statements.count == 0 then "Não tem nenhum comunicado para hoje" else "Você tem #{@statements.count} #{t('text.comunicate', count: @statements.count)} hoje" end %></li>
            <li>
              <!-- Inner Menu: contains the statements -->
              <ul class="menu">
                <!-- start notification -->
                <% @statements.each do |statement| %>
                <li>
                  <a href="#" data-toggle="modal" data-target="#modal-<%= statement.id %>">
                    <i class="fa fa-users text-aqua"></i> <%= statement.user.name %>
                  </a>
                </li>
                <% end %>
                <!-- end statement -->
              </ul>
            </li>
            <li class="footer"><a href="#"><%= if @statements.count == 0 then "" else "Clique sobre o comunicado para mais detalhes..." end %></a></li>
          </ul>
        </li>
        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          <a href="#" class="dropdown-toggle">
            <!-- The user image in the navbar-->
            <%= image_tag current_admin.avatar.url(:small), class: "user-image" %>
            <!-- <img src="/assets/user2-160x160.jpg" class="user-image" alt="User Image"/> -->
            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs"><%= current_admin.fantasy_name %></span>
          </a>
          <li>
            <%= link_to destroy_admin_session_path, method: :delete, class: "", data: {confirm: "Você tem certeza que deseja sair?" } do %>
              <i class="fa fa-sign-out"></i>
            <% end %>
          </li>
        </li>
      </ul>
    </div>
  </nav>
</header>

<!-- Modal for see statement -->

<!-- Modals for notifications -->
<% @statements.each do |statement| %>
  <div class="modal fade" id="modal-<%= statement.id %>" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Comunicado de: <b><%= statement.user.name %></b></h4>
        </div>
        <div class="modal-body">
          <p><%= statement.description %></p>
        </div>
        <div class="modal-footer">
          <%= link_to backoffice_admins_statement_path(statement), method: :delete, class: "btn btn-danger", data: {confirm: "Você tem certeza que deseja excluir o comunicado de <b>#{statement.user.name}</b>?" } do %>
            Apagar comunicado
          <% end %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
<% end %>
