<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag current_admin.avatar.url(:thumb), class: "img-circle" %>
        <!-- <img src="/assets/user2-160x160.jpg" class="img-circle" alt="User Image" /> -->
      </div>
      <div class="pull-left info">
        <p><%= current_admin.fantasy_name %></p>
        <!-- Status -->
        <a href="#"><i class="fa fa-street-view text-success"></i> <%= current_admin.cnpj %></a>
      </div>
    </div>

    <!-- search form (Optional) -->
    <%= form_tag backoffice_admins_users_search_user_path, method: :get, class: "sidebar-form" do %>
      <div class="input-group">
        <%= text_field_tag "q", nil, placeholder: "Pesquisar por usuário...", class: "form-control" %>
        <span class="input-group-btn">
          <%= button_tag(nil, class: "btn btn-flat") do %>
            <i class="fa fa-search"></i>
          <% end %>
        </span>
      </div>
    <% end %>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">Menu</li>
      <!-- Optionally, you can add icons to the links -->
      <li class="<%= current_class?(backoffice_admins_dashboard_index_path) %>">
        <%= link_to backoffice_admins_dashboard_index_path do %>
          <i class="fa fa-dashboard"></i><span>Dashboard</span>
        <% end%>
      </li>

      <li class="<%= current_class?(backoffice_admins_users_path) %>">
        <%= link_to backoffice_admins_users_path do %>
          <i class="fa fa-user"></i><span>Usuários</span>
        <% end%>
      </li>

      <li class="treeview">
        <a href="#"><i class='fa fa-paper-plane-o'></i> <span>Viagens</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li>
            <%= link_to backoffice_admins_fast_travels_path do %>
              <span>Viagem rápida</span>
            <% end%>
          </li>
          <li>
            <%= link_to backoffice_admins_routes_path do %>
              <span>Rotas universitárias</span>
            <% end%>
          </li>
          <li>
            <%= link_to backoffice_admins_universities_path do %>
              <span>Universidades</span>
            <% end%>
          </li>
          <li>
            <%= link_to backoffice_admins_cars_path do %>
              <span>Carros</span>
            <% end%>
          </li>
          <li>
            <%= link_to backoffice_admins_drivers_path do %>
              <span>Motoristas</span>
            <% end%>
          </li>

        </ul>
      </li>

      <li class="<%= current_class?(backoffice_admins_finances_path) %>">
        <%= link_to backoffice_admins_finances_path do %>
          <i class="fa fa-dollar"></i><span>Financeiro</span>
        <% end%>
      </li>

      <li class="<%= current_class?(backoffice_admins_notifications_path) %>">
        <%= link_to backoffice_admins_notifications_path do %>
          <i class="fa fa-bell-o"></i><span>Notificações</span>
        <% end%>
      </li>

      <li class="<%= current_class?(edit_backoffice_admins_profile_path(current_admin.id)) %>">
        <%= link_to edit_backoffice_admins_profile_path(current_admin.id) do %>
          <i class="fa fa-edit"></i><span>Perfil da empresa</span>
        <% end%>
      </li>

      <li class="<%= current_class?(edit_backoffice_admins_setting_path(current_admin.id)) %>">
        <%= link_to edit_backoffice_admins_setting_path(current_admin.id) do %>
          <i class="fa fa-gears"></i><span>Configurações gerais</span>
        <% end%>
      </li>

    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
