<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag current_admin.avatar.url(:thumb), class: "img-circle" %>
        <!-- <img src="/assets/user2-160x160.jpg" class="img-circle" alt="User Image" /> -->
      </div>
      <div class="pull-left info">
        <p><%= current_admin.fantasy_name %></p>
        <!-- Status -->
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <!-- search form (Optional) -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Pesquisar..."/>
        <span class="input-group-btn">
          <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">Menu</li>
      <!-- Optionally, you can add icons to the links -->
      <li class="<%= current_class?(backoffice_admins_dashboard_index_path) %>">
        <%= link_to backoffice_admins_dashboard_index_path do %>
          <i class="fa fa-dashboard"></i><span>Dashboard</span>
        <% end%>
      </li>

      <li class="<%= current_class?(backoffice_admins_users_path) %>">
        <%= link_to backoffice_admins_users_path do %>
          <i class="fa fa-user"></i><span>Usu치rios</span>
        <% end%>
      </li>

      <li class="<%= current_class?(backoffice_admins_drivers_path) %>">
        <%= link_to backoffice_admins_drivers_path do %>
          <i class="fa fa-truck"></i><span>Motoristas</span>
        <% end%>
      </li>

      <li class="<%= current_class?(backoffice_admins_routes_path) %>">
        <%= link_to backoffice_admins_routes_path do %>
          <i class="fa fa-bus"></i><span>Rotas</span>
        <% end%>
      </li>

      <li class="treeview">
        <a href="#"><i class='fa fa-paper-plane-o'></i> <span>Viagens</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li>
            <%= link_to backoffice_admins_fast_travels_path do %>
              <span>Viagem r치pida</span>
            <% end%>
          </li>
          <li><a href="#">Transporte universit치rio</a></li>
          <li>
            <%= link_to backoffice_admins_universities_path do %>
              <span>Universidades</span>
            <% end%>
          </li>
        </ul>
      </li>

      <li class="<%= current_class?(backoffice_admins_finances_path) %>">
        <%= link_to backoffice_admins_finances_path do %>
          <i class="fa fa-dollar"></i><span>Financeiro</span>
        <% end%>
      </li>

      <li class="<%= current_class?(edit_backoffice_admins_profile_path(current_admin.id)) %>">
        <%= link_to edit_backoffice_admins_profile_path(current_admin.id) do %>
          <i class="fa fa-edit"></i><span>Perfil da empresa</span>
        <% end%>
      </li>

      <li class="<%= current_class?(backoffice_admins_reports_path) %>">
        <%= link_to backoffice_admins_reports_path do %>
          <i class="fa fa-pie-chart"></i><span>Relat칩rios</span>
        <% end%>
      </li>

    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
