<% if @driver.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <b><% @driver.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %></b>
  </div>
<% end %>

<%= form_for([:backoffice, :admins, @driver]) do |f| %>
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab_1" data-toggle="tab">Dados do motorista</a></li>
      <li class="pull-right"><button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i> Salvar</button></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_1">
        <div class="form-group col-md-6">
          <%= f.label :name %>
          <%= f.text_field :name, class:"form-control", placeholder: "Capacidade do veiculo" %>
        </div>

        <div class="form-group col-md-6">
          <%= f.label :email %>
          <%= f.text_field :email, class:"form-control", placeholder: "Placa do veiculo" %>
        </div>
        &nbsp;
      </div>
    </div>
  </div>

<% end %>
