<!-- Info boxes -->
<div class="row">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-aqua"><i class="fa fa-file-text-o"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Manha</span>
        <span class="info-box-number"><%= period_day("M") %></span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- fix for small devices only -->
  <div class="clearfix visible-sm-block"></div>

  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-green"><i class="fa fa-file-text-o"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Tarde</span>
        <span class="info-box-number"><%= period_day("T") %></span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-yellow"><i class="fa fa-file-text-o"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Noite</span>
        <span class="info-box-number"><%= period_day("N") %></span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->


<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Rotas</h3>
    <div class="pull-right">
      <%= link_to new_backoffice_admins_route_path, class: "btn btn-success" do %>
         <i class="fa fa-save"></i>  Nova rota
      <% end %>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th style="width: 10px">#</th>
          <th>Origim</th>
          <th>Carro</th>
          <th>Periodo</th>
          <th style="width: 150px"></th>
        </tr>
        <% @routes.each do |route| %>
        <tr>
          <td><%= route.id %></td>
          <td><%= route.origin %></td>
          <td><%= route.car.plate %></td>
          <td>
            <% if route.period_day == "N" %>
              <%= "Noite" %>
            <% elsif route.period_day == "M" %>
              <%= "Manha" %>
            <% elsif route.period_day == "T" %>
              <%= "Tarde" %>
            <% else %>
              <%= "Dia todo" %>
            <% end %>
          </td>
          <td>
            <button type="button" class="btn btn-primary"><i class="fa fa-envelope"></i></button>
            <%= link_to edit_backoffice_admins_route_path(route), class: "btn btn-info" do %>
              <i class="fa fa-edit"></i>
            <% end %>
            <%= link_to backoffice_admins_route_path(route), method: :delete, class: "btn btn-danger", data: {confirm: "Você tem certeza que deseja o excluir a rota <b>#{route.period_day}</b>?" } do %>
              <i class="fa fa-ban"></i>
            <% end %>
          </td>
        </tr>
        <% end %>
    </tbody></table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
      <%= paginate @routes %>
    </ul>
  </div>
</div>


<!-- Mapa mostrando -->
<!-- <div class="row"
  <div class="col-md-12">
    <div class="box box-default">
      <div class="box-header with-border">
        <i class="fa fa-bullhorn"></i>

        <h3 class="box-title">Noite</h3>
      </div>

      <div class="box-body">
        <div class="container">
          <div id="map" style='width: 470px; height: 400px; '></div>
        </div>
      </div>

    </div>

  </div>

</div> -->




<%= javascript_tag do %>
var directionsDisplay = new google.maps.DirectionsRenderer();
var directionsService = new google.maps.DirectionsService();

function calcRoute() {

var origin      = "<%= @ulbra %>";
var destination = "<%= @capao %>";
var request = {
  origin:      origin,
  destination: destination,
  travelMode:  google.maps.TravelMode.DRIVING
};
directionsService.route(request, function(response, status) {
if (status == google.maps.DirectionsStatus.OK) {
  directionsDisplay.setDirections(response);
}
});
}

calcRoute(); // call this anywhere you want

var handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'map'}}, function(){
directionsDisplay.setMap(handler.getMap());
});
<% end %>
