
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Notificações</h3>
    <div class="pull-right">
      <%= link_to new_backoffice_admins_notification_path, class: "btn btn-success" do %>
         <i class="fa fa-save"></i>  Nova notificação
      <% end %>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th style="width: 10px">#</th>
          <th>Título</th>
          <th>Data</th>
          <th>Universidade</th>
          <th style="width: 100px"></th>
        </tr>
        <% @notifications.each do |notification| %>
        <tr>
          <td><%= notification.id %></td>
          <td><%= notification.title %></td>
          <td><%= notification.notification_date %></td>
          <td><%= notification.university.name %></td>
          <td>
            <%= link_to edit_backoffice_admins_notification_path(notification), class: "btn btn-info" do %>
              <i class="fa fa-edit"></i>
            <% end %>
            <%= link_to backoffice_admins_notification_path(notification), method: :delete, class: "btn btn-danger", data: {confirm: "Você tem certeza que deseja excluir a notificação <b>#{notification.title}</b>?" } do %>
              <i class="fa fa-ban"></i>
            <% end %>
          </td>
        </tr>
        <% end %>
    </tbody></table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
      <%= paginate @notifications %>
    </ul>
  </div>
</div>
